In [1]:
import pandas as pd
import numpy as np

pandas.merge
--------------
***pandas.merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False)***
>**作用**:

>通过执行一个类似于数据库风格join的操作,来在columns(列)或者indexes(行)上合并DataFrame对象. 如果在columns和columns上面进行join,那么indexes就会被忽略.同样,要是在indexes和indexes之间或者indexes和columns之间进行join,那么index也会被忽略.

>**参数**:	

>**left** : DataFrame,待融合的左边的dataframe

>**right** : DataFrame 待融合的右边的dataframe

>**how** : {‘left’, ‘right’, ‘outer’, ‘inner’}, 表示融合方式,默认是 ‘inner’方式
>>left: use only keys from left frame (SQL: left outer join)

>>right: use only keys from right frame (SQL: right outer join)

>>outer: 使用两个frame的键的并集

>>inner: 使用两个frame的键的交集

>**on** : label or list
Field names to join on. Must be found in both DataFrames. If on is None and not merging on indexes, then it merges on the intersection of the columns by default.

>**left_on** : label or list, or array-like
Field names to join on in left DataFrame. Can be a vector or list of vectors of the length of the DataFrame to use a particular vector as the join key instead of columns

>**right_on** : label or list, or array-like
Field names to join on in right DataFrame or vector/list of vectors per left_on docs

>**left_index** : boolean, default False
Use the index from the left DataFrame as the join key(s). If it is a MultiIndex, the number of keys in the other DataFrame (either the index or a number of columns) must match the number of levels

>**right_index **: boolean, default False
Use the index from the right DataFrame as the join key. Same caveats as left_index

>**sort** : boolean, 默认是False,表示按照键值字典序排序.

>**suffixes** : 2-length sequence (tuple, list, ...)
Suffix to apply to overlapping column names in the left and right side, respectively

>**copy** : boolean, default True
If False, do not copy data unnecessarily
indicator : boolean or string, default False
If True, adds a column to output DataFrame called “_merge” with information on the source of each row. If string, column with information on source of each row will be added to output DataFrame, and column will be named value of string. Information column is Categorical-type and takes on a value of “left_only” for observations whose merge key only appears in ‘left’ DataFrame, “right_only” for observations whose merge key only appears in ‘right’ DataFrame, and “both” if the observation’s merge key is found in both.

# 只有一个相同键

In [2]:
#df1
data1={"key":["b","b","a","c","a","a","b"],"num1":range(7)}
df1=pd.DataFrame(data=data1)

In [3]:
#show df1
df1

  key  num1
0   b     0
1   b     1
2   a     2
3   c     3
4   a     4
5   a     5
6   b     6

In [8]:
#df2
data2={"key":["a","b","d"],"num2":range(3)}
df2=pd.DataFrame(data=data2)

In [9]:
#show df2
df2

  key  num2
0   a     0
1   b     1
2   d     2

In [11]:
#merge
#这里没有指定要用哪个列进行融合,默认会用相同的列名的当做键
pd.merge(left=df1,right=df2)

  key  num1  num2
0   b     0     1
1   b     1     1
2   b     6     1
3   a     2     0
4   a     4     0
5   a     5     0

In [12]:
#merge
#这里显式指定了融合的键(列名)
pd.merge(left=df1,right=df2,on="key")

  key  num1  num2
0   b     0     1
1   b     1     1
2   b     6     1
3   a     2     0
4   a     4     0
5   a     5     0

# 两个不同键

In [19]:
#df3
data3={"lkey":["b","b","a","c","a","a","b"],"num3":range(7)}
df3=pd.DataFrame(data=data3)

In [20]:
#show df3
df3

  lkey  num3
0    b     0
1    b     1
2    a     2
3    c     3
4    a     4
5    a     5
6    b     6

In [21]:
#df4
data4={"rkey":["a","b","d"],"num4":range(3)}
df4=pd.DataFrame(data=data4)

In [22]:
#show df4
df4

   num4 rkey
0     0    a
1     1    b
2     2    d

In [23]:
#merge
#这里显式指定了融合的键(列名)
pd.merge(left=df3,right=df4,left_on="lkey",right_on="rkey")

  lkey  num3  num4 rkey
0    b     0     1    b
1    b     1     1    b
2    b     6     1    b
3    a     2     0    a
4    a     4     0    a
5    a     5     0    a

# 其他合并方式

In [24]:
#inner
pd.merge(left=df1,right=df2,on="key",how="inner")

  key  num1  num2
0   b     0     1
1   b     1     1
2   b     6     1
3   a     2     0
4   a     4     0
5   a     5     0

In [25]:
#outer
pd.merge(left=df1,right=df2,on="key",how="outer")

  key  num1  num2
0   b   0.0   1.0
1   b   1.0   1.0
2   b   6.0   1.0
3   a   2.0   0.0
4   a   4.0   0.0
5   a   5.0   0.0
6   c   3.0   NaN
7   d   NaN   2.0